# Music Genre Classification Project

In [25]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import warnings
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("Music_data.csv")

In [3]:
data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     18 non-null     int64
 1   gender  18 non-null     int64
 2   genre   18 non-null     object
dtypes: int64(2), object(1)
memory usage: 564.0+ bytes

In [10]:
x = data.drop("genre", axis=1)
x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [12]:
y = data["genre"]
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [21]:
warnings.filterwarnings("ignore", category=UserWarning)

In [35]:
model = DecisionTreeClassifier()
model.fit(x,y)
prediction = model.predict([[21,1],[10,0]])
prediction

array(['HipHop', 'Dance'], dtype=object)

In [14]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2)

In [33]:
model.fit(xtrain, ytrain)
prediction = model.predict(xtest)
score = accuracy_score(ytest, prediction)
score

0.5